<div class="pagina">
    <div class="imagem">
        <img src="./assets/Mobilidade urbana.png" alt="mobilidade">
    </div>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a routerLink="/#" routerLinkActive="router-link-active">Home</a></li>
                        <li><a routerLink="/linhaonibus" routerLinkActive="router-link-active">Linha de ônibus</a></li>
                        <li><a routerLink="/linhalotacao" routerLinkActive="router-link-active">Linha de Lotações</a></li>
                        <li><a routerLink="/itinerario" routerLinkActive="router-link-active">Itinerário</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>